@CHARSET "ISO-8859-1";
body {
	width: 100%;
	background-image: url("http://i.magaimg.net/img/el4.png");
	background-size: 100%;
}

div.header {
	height: 150px;
	width: 100%;
	Padding: 5px;
	Background-color: black;
}
div.homeImage {
	Height: 150px;
	width: 30%;
	margin: auto;
}
div.login {
	Width: 10%;
	Padding: 5px;
	Background-color: #c8c8c8;
	border-radius: 5px;
	float: right;
	position: absolute;
	top: 15px;
	right: 0;
}
div.sidemenu {
	height: 2000px;
	width: 200px;
}
div.container1 {
	height: auto;
	width: 100%;
	background-color: #ffffff;
	padding: 16px;
	border: 1px solid #ffffff;
	border-radius: 5px;
	float: left;
	margin-bottom: 20px;
}

div.container1a {
	height: auto;
	width: 80%;
	border: 1px solid #000000;
	float: left;
}

div.container1b {
	height: 100px;
	width: 18%;
	Background-color: grey;
	padding: 4px;
	border-radius: 4px;
	float: right;
}

footer {
	height: 100px;
	width: 100%;
	clear: both;	
	padding: 1rem;
	background-color: #404040;
	text-align: center;
}

div.containerFooter1 {
	height: auto;
	width: 10%;
	Color: white;
	Background-color: grey;
	float: left;
	Text-align: left;
	padding: 5px;
	border-radius: 5px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}

li {
	float: left;
}

li a {
	display: block;
	padding: 16px;
	color: white;
}

p.times, h1.times {
	font-style: times new roman;
	color: black;
}

p a.1 {
	display: block;
	padding: 16px;
	color: black;
}
img {
	width: 80%;
	height: auto;
}
table {
	width: 100%;
}